/* 

font-family: 'Poppins', sans-serif;

*/

:root {
    --header: #A6A5A4;
    --2-hex: #8C8C8B;
    --3-hex: #D9D7D7;
    --4-hex: #404040;
    --5-hex: #0D0D0D;
}

@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    background-color: var(--5-hex);
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

header h1 {
    text-transform: uppercase;
    color: var(--3-hex);
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.card-text {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 30px 30px;
    padding: 50px 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;
    height: 40vh;
}

.container-text {
    margin: 0 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text h2 {
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid #555; 
    width: 100%;
    font-size: 1.5em;
}

.card-text .container-text {
    width: 100%;
    text-align: justify;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width: 750px) {
    .card-text {
        height: auto;
    }

    .card-text {
        width: 100%;
        height: 350px;
        
    }

    .card-text h2 {
        width: 100%
    }

}

